*{
  padding: 3px;
  margin: 3px;
}

h1, label {
  margin: 2% 4% 2% 10%;
  font-family: 'Megrim', cursive;
  font-weight: 400;
  margin: 5% auto 2% auto;
  text-align: center;
  color: #6fa0d4;
  font-style: italic;
}

#controls {
  width: 500px;
  margin: 0 auto 0 auto;
  text-align: center;
}

label, input {
  width: 40px;
}

button {
  width: 100px;
  display: inline;
  height: 27px;
  border-radius: 5px;
}

body {
  background-image: url('/assets/body_bg1.jpg');
  background-repeat: repeat;
}

#towers {
  width: 660px;
  height: 500px;
  margin: 5% auto 5% auto;
  text-align: center;
}

.tower {
  display: inline-block;
  width: 31%;
  height: 97%;
  margin: 0 auto 0 auto;
  background-image: url('/assets/rack2.png');
  background-size: 100% 100%;
  position: relative;
}

.tower > div {
  height: 27px;
  position: absolute;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 22px;
}

.source {
  background-color: rgba(218, 225, 4, 0.33)
}
